{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peticiones</title>
    <link rel="stylesheet" href="{% static 'peticiones/style2.css' %}" />
</head>
<body>
    <h1> Petición para agregar un nuevo Item </h1>
    <form action="" method="post">
        {% if listo %}
        <h2>Petición enviada! Se contestará a la brevedad</h2>
        {% endif %}
        <div class="form">
            <div class="form-container">
                {% csrf_token %}
                {{ form_peticion.as_p }}
            </div>
        </div>
        <button type="submit">Agregar petición</button>
    </form>
    <div class="boton-index">
        <a href="{% url 'inicio' %}" class="boton-volver">Volver al inicio</a>
    </div>
</body>
</html>
