{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'todoapp/registro.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Registro</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Registrarse">
        </form>
        <p>¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>
    </div>
</body>
</html>
