{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bibliotecas</title>
    <link rel="stylesheet" href="{% static 'todoapp/menu_biblio.css' %}">
</head>
<body>
    <nav class="navbar">
      <a href="{% url 'inicio' %}">
        <div class="navbar-left">
            <span class="site-name">GeekLog</span>
        </div>
      </a>
        <div class="navbar-center">
            <form method="post" action="{% url 'buscar_item' %}">
              {% csrf_token %}
                <input type="text" name="titulo" placeholder="Buscar item">
                <select name="tipo">
                    <option value="">-- Tipo --</option>
                    <option value="Libro">Libro</option>
                    <option value="Manga">Manga</option>
                    <option value="Anime">Anime</option>
                    <option value="Película">Película</option>
                    <option value="Cómic">Cómic</option>
                </select>
            </form>
            <form method="get" >
                <input type="text" name="q2" placeholder="Buscar usuario">
            </form>
        </div>

        <div class="navbar-right">
            <a href="{% url 'usuarios:perfil_usuario' request.user.username %}">
            <img src="{% static 'image/no_user.png' %}" alt="Perfil" class="profile-icon">
            </a>
        </div>
    </nav>
    <div class="inicio-container">
        <h2> Bibliotecas </h2>
        <div class="boton-grid">
            <a href="{% url 'view_animes_list' %}" class="boton-imagen">
                <img src="{% static 'image/anime_icono.png' %}" alt="Mis animes">
            <span>Explorar animes</span>
            </a>
            <a href="{% url 'view_mangas_list' %}" class="boton-imagen">
                <img src="{% static 'image/manga_icono.png' %}" alt="Mis mangas">
                <span>Explorar Mangas</span>
            </a>
            <a href="{% url 'view_peliculas_list' %}" class="boton-imagen">
                <img src="{% static 'image/cine_icono.png' %}" alt="Mis peliculas">
                <span>Explorar Películas</span>
            </a>
            <a href="{% url 'view_libros_list' %}" class="boton-imagen">
                <img src="{% static 'image/libro_icono.png' %}" alt="Mis libros">
                <span>Explorar Libros</span>
            </a>
            <div class="fila-centro">
                <a href="{% url 'view_comics_list' %}" class="boton-imagen boton-centrado">
                    <img src="{% static 'image/comic_icono.png' %}" alt="Mis comics">
                    <span>Explorar Cómics</span>
                </a>
            </div>
        </div>
    </div>
    <a class="boton-index" href="{% url 'inicio' %}">Volver al inicio</a>
</body>
</html>