{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Formulario</title>
    <link rel="stylesheet" type="text/css" href="{% static 'todoapp/formulario.css' %}">
</head>
<body>
    <div class="formulario-container">
        <h1>Bienvenido</h1>
        <h2>Ingrese sus datos o registrese</h2>

        <form action="{% url 'crear_tarea' %}" method="post">
            {% csrf_token %}

            <label for="{{ form.Nombre.id_for_label }}">Nombre</label>
            {{ form.Nombre }}
            {% if form.Nombre.errors %}
                <div class="errorlist">{{ form.Nombre.errors }}</div>
            {% endif %}

            <label for="{{ form.Username.id_for_label }}">Usuario</label>
            {{ form.Username }}
            {% if form.Username.errors %}
                <div class="errorlist">{{ form.Username.errors }}</div>
            {% endif %}

            <label for="{{ form.Contraseña.id_for_label }}">Contraseña</label>
            {{ form.Contraseña }}
            {% if form.Contraseña.errors %}
                <div class="errorlist">{{ form.Contraseña.errors }}</div>
            {% endif %}

            <label for="{{ form.Correo.id_for_label }}">Correo</label>
            {{ form.Correo }}
            {% if form.Correo.errors %}
                <div class="errorlist">{{ form.Correo.errors }}</div>
            {% endif %}

            <button type="submit">Guardar</button>
            <br>
<button type="button" id="RecuperarContraseña">Recuperar Contraseña</button>
<button type="button" id="registrarse">Registrarse</button>
            <a href="{% url 'lista_usuarios' %}">
    <button type="button">Aprete para ver los datos ingresados</button>
</a>

            
        </form>
    </div>
</body>
</html>